<%= stylesheet_link_tag "show_course" %>
<script>
function toggleReviewForm() {
  const element = document.getElementById("review_form");
  element.classList.toggle("hidden");
}
</script>

<h1>
  <%= @course.title %>
</h1>
<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>
<p>
  <strong>AVG score:</strong>
  <%= @avg_score %>
</p>
<p>
  <strong>Instructor:</strong>
  <%= @course.instructor.first_name %> <%= @course.instructor.last_name %>
</p>
<p>
  <a target="_blank" href="<%= @course.syllabus %>">Syllabus</a>
</p>
<div id="review_form" class="hidden">
<hr/>
<%= form_with url: reviews_path, method: :post do |form| %>
  <input name="course_id" id="course_id" type="hidden" value=<%= @course.id %>>
  <h4>Add Review</h4>
  <div class="form-group col-md-2 mt-2">
    <label for="stars">Number of &#11088;</label>
    <%= form.select :stars, [["Choose", -1], 1,2,3,4,5], {}, { class: "form-control"} %>
  </div>
  <div class="form-group col-md-4 mt-2">
    <label for="comment_input">Comment</label>
    <textarea name="comment_input" id="comment_input" rows="3" class="form-control"></textarea>
  </div>
  <button class="btn btn-outline-primary mt-2">
    Submit
  </button>
<% end %>
</div>
<hr/>
<div class="reviews-header">
<span class="reviews-title">Reviews</span>
<button onclick="toggleReviewForm()" id="show_review_form" class="btn btn-outline-primary btn-sm">Add Review</button>
</div>
<table class="table table-hover table-responsive">
  <thead class="table-dark">
    <tr>
      <th>&#11088; Score</th>
      <th>Comment</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @reviews.each do |review| %>
    <%= form_with url: action_review_path, method: :post do |form| %>
      <input name="review_id" id="review_id" type="hidden" value=<%= review.id %>>
      <tr>
        <td>
          <%= form.select :stars, [1,2,3,4,5], selected: review.score, :disabled => review.user_id == current_user.id ? [] : [1,2,3,4,5]%>
        </td>
        <td>
          <%= text_area_tag :comment_input, review.comment, size: "100x10", readonly:  review.user_id != current_user.id %>
        </td>
        <td><%= review.created_at.strftime("%Y-%m-%d") %></td>
        <% if review.user_id == current_user.id%>
          <td><button type="submit" class="btn btn-outline-primary" name="submit-button" value="edit">Edit</button></td>
          <td><button type="submit" class="btn btn-outline-primary" name="submit-button" value="delete">Delete</button></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
<%= link_to 'Back', courses_path %>
</div>